.container {
    max-width: 1200px;
    margin: 0 auto;

}

.buttonsWrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    justify-content: center;
}

button {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #ffffff80;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ffffff10;
    border-color: #fff;
}

.moviesGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;justify-content: space-between;
}