.filterAndSort {
    max-width: 1200px;
    margin: 30px auto 30px ;
    display: flex;
}

.sortContainer {
    width: 28%;
}

.sortContainer h3 {
    font-size: 36px;
    text-align: center;
}

.sortFilterMenu {
    width: 95%;
    border-radius: 30px;
    background-color: var(--header-color);
}

.sortMenu {
    margin: 20px 10px;
    font-size: 24px;
    padding-top: 10px;
}

.select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.genresContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.buttons {
    border-radius: 20px;
    margin: 0;
}

.buttons:hover {
    opacity: 0.8;
}

.isActive {
    border-radius: 20px;
    background-color: blue;
    color: white;
    margin: 0;
}
.isActive:hover {
    opacity: 0.8;
    background-color: blue;
    color: white;
}
.resultsContainer {
    width: 68%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.reset {
    color: white;
    background-color: blue;
    margin: 20px;
}

.sliderContainer {
    width: 90%;
    margin: 0 auto;
}

.sliderContainer h4 {
    margin: 10px 0;
    font-size: 20px;
}