.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

.header {
    background-color: #eee;
    padding: 16px;
}

.content {
    flex: 1;
}

.footer {
    background-color: #ccc;
}