.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #bda2a2;
}
.mainBgPicture{
    width: 100%;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.mainContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 200px 20px;
    color: white;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black,
            1px 1px 0 black;
}

.mainContainer h2 {
    font-size: 90px;
}

.mainContainer h4 {
    font-size: 36px;
}