/* MovieCard.module.css */

.card {
    width: 180px;
    height: 270px;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}
.card:hover {
    cursor: pointer;
}

.overlay {
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ratingPosition {
    position: absolute;
    top: 10px;
    right: 10px;
}
