.container {
    max-width: 1200px;
    margin: 30px auto;
}

.details {
    display: flex;
    width: 100%;
}

.image {
    width: 280px;
    height: 420px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.text {
    margin: 10px 30px;
    width: 70%;
}

.text h2 {
    font-size: 36px;
    font-weight: bold;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.title button {
    border-radius: 20px;
    font-size: 16px;
}

.info {
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.overview {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 25px;

}

.genresTitle {
font-size: 30px;
    margin-bottom: 15px;
}

.genres {
    display: flex;
    gap: 20px;
}

.genres span {
    font-size: 20px;
    background-color: #cccccc;
    border-radius: 20px;
    padding: 5px 10px;
}